<div class="feature-slide-item feature-custom-item">
  <div class="slide-item-image" style="background-image: url({{ post.slide_image.url }});"><img src="{{ post.slide_image.url }}" alt></div>
  <div class="slide-item-content">
    <div class="slide-item-content-inner">
      <h3 class="slide-item-title">{{ post.slide_title }}</h3>
      <div class="slide-item-intro">{{ post.slide_description }}</div>
    </div>
  </div>
  <a href="{{ post.slide_url }}" class="slide-item-link"></a>
</div>