<div class="block-sidebar block-about-me {{ component_class }}">
  <h3 class="block-title sidebar-title">{{ block_title }}</h3>
  <div class="block-sidebar-body">
    <div class="block-about-me-avatar"><img src="{{ author_picture.url }}" alt="{{ author_picture.alt }}"></div>
    <div class="block-about-me-desc">{{ author_description }}</div>
    <div class="block-about-me-link"><a href="{{ block_link.url }}" target="{{ block_link.target }}">{{ block_link.title }}</a></div>
  </div>
</div>